.table-container {
    padding: 2em;
}

.table-tabs-container {
    display: flex;
    margin-bottom: 2em;
}

.table-tab {
    padding: 0.5em 1em;
    border: 1px solid black;
    cursor: pointer;
}

.active {
    font-weight: bold;
}